# Required, remove render api key if you're not using render

SESSION_ID=kord_ai-1qmsbz8UyyK296CU
OWNER_NUMBER=254112842772
WORKTYPE=private
PREFIX=[.!?]
TIMEZONE=Africa/Lagos
OWNER_NAME=Gabby
BOT_NAME=Gabby
RENDER_API_KEY=
